/* Card Ubah Password */

.card {
    width: 700px;
    height: 600px;
    background: #f8faf8;
    position: relative;
    box-shadow: 15px 15px 50px #adb5bd75;
    text-align: center;
    transition: all 0.3s ease-in;
}

.card h3 {
    transition: all 0.3s ease-in;
    margin-top: 40px;
}

.card:hover {
    cursor: pointer;
    box-shadow: none;
}

.card:hover h3 {
    transform: scale(1.5);
    color: #2fd10f;
}

.card::before {
    content: '';
    width: 100%;
    height: 0;
    background: #3f72ff;
    position: absolute;
    left: 0;
    bottom: 0;
    /* Or Top */
    transition: 0.3s ease-in-out;
    z-index: -1;
}

.card:hover::before {
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
        height: 100%;
        /* atau menggunakan ukuran yang lain /
    height: auto; / atau menggunakan ukuran yang lain */
    }
}


/* Input Ubah Password */
.group {
    position: relative;
}

.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 500px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar {
    position: relative;
    display: block;
    width: 500px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@media only screen and (max-width: 600px) {
    .input, .bar {
    width: 90%; /* atau menggunakan ukuran yang lain /
    height: auto; / atau menggunakan ukuran yang lain */
    }
}

/* Button */
.button {
    padding: 1em 2em;
    border: none;
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #51a364;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #51a364;
}

button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #51a364;
    box-shadow: 4px 5px 17px -4px #51a364;
}

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #51a364;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

button:hover::before {
    width: 80%;
}

